@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --brand-teal: #00555A;
  --brand-gold: #C4A23E;
}

html {
  font-size: 17px;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Hide scrollbar but allow scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
